

body {
    background-color: blanchedalmond
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}